<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CollectiveSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657a99">  <td>16/02/09 14:14:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestURL.aPI_tc001_PageURLsStaging()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestURL@480bdb19]">aPI_tc001_PageURLsStaging</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:10:58</td>   <td>-212079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc001_collective_adminLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc001_collective_adminLogin</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:11:14</td>   <td>-196614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc002_collective_admin_reports_OrderTotalsSheet()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc002_collective_admin_reports_OrderTotalsSheet</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:11:31</td>   <td>-179013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc003_evaluateAdminTabs_Returns()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc003_evaluateAdminTabs_Returns</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:11:45</td>   <td>-165590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc004_evaluateAdminTabs_Carousel()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc004_evaluateAdminTabs_Carousel</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:11:54</td>   <td>-156849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc005_evaluateAdminTabs_Orders()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc005_evaluateAdminTabs_Orders</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:12:07</td>   <td>-143977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc006_evaluateAdminTabs_Products_ProductsSection()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc006_evaluateAdminTabs_Products_ProductsSection</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:12:19</td>   <td>-131108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc007_evaluateAdminTabs_Settings()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc007_evaluateAdminTabs_Settings</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:12:30</td>   <td>-120699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc008_evaluateAdminTabs_Promotions()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc008_evaluateAdminTabs_Promotions</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:12:43</td>   <td>-107095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc009_evaluateAdminTabs_Users()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc009_evaluateAdminTabs_Users</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:12:56</td>   <td>-94825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc011_evaluateAdminTabs_Store()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc011_evaluateAdminTabs_Store</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:13:05</td>   <td>-85422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc012_Login_ErrorScenario_Providing_InvalidCredentials()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc012_Login_ErrorScenario_Providing_InvalidCredentials</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:13:12</td>   <td>-78624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc013_Login_ErrorScenario_Providing_CustomerCredentials()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc013_Login_ErrorScenario_Providing_CustomerCredentials</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:13:20</td>   <td>-70215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc014_Login_ErrorScenario_Providing_NoPassword()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc014_Login_ErrorScenario_Providing_NoPassword</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:13:26</td>   <td>-64452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc015_Login_ErrorScenario_Providing_CustomerCredentials_NoPhoneNumber()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc015_Login_ErrorScenario_Providing_CustomerCredentials_NoPhoneNumber</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:13:32</td>   <td>-58523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc016_Login_ErrorScenario_Providing_CustomerCredentials_NoPhoneNumber_NoPassword()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc016_Login_ErrorScenario_Providing_CustomerCredentials_NoPhoneNumber_NoPassword</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:13:36</td>   <td>-54396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc017_StoreLocator_Adding_RemovingNewStore()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc017_StoreLocator_Adding_RemovingNewStore</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:13:51</td>   <td>-39296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc018_StoreLocator_Adding_Updating_RemovingNewStore()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc018_StoreLocator_Adding_Updating_RemovingNewStore</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:13</td>   <td>-17554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc019_NewBlogEntry_RemoveBlog()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc019_NewBlogEntry_RemoveBlog</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc020_NewUsersCreation_User_And_Deletion()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc020_NewUsersCreation_User_And_Deletion</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc021_NewUsersCreation_Admin_And_Deletion()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc021_NewUsersCreation_Admin_And_Deletion</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc022_NewUsersCreation_Blogger_And_Deletion()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc022_NewUsersCreation_Blogger_And_Deletion</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc023_NewPromotion_Creation_And_Deletion()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc023_NewPromotion_Creation_And_Deletion</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc023_evaluateAdminTabs_AnalyticScript()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc023_evaluateAdminTabs_AnalyticScript</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc024_CreateNew_AnalyticScript()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc024_CreateNew_AnalyticScript</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc025_CreateNew_AnalyticScript()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc025_CreateNew_AnalyticScript</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc026_UserList()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc026_UserList</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc027_returnList()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc027_returnList</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc028_Products_Taxonomies()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc028_Products_Taxonomies</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc029_Products_Taxons()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc029_Products_Taxons</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc030_CreateVerifyAndDeleteCarousel()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc030_CreateVerifyAndDeleteCarousel</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc031_CancelCarousel()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc031_CancelCarousel</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc032_Products_OptionTypes()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc032_Products_OptionTypes</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc033_Products_properties()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc033_Products_properties</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc034_Products_prototypes()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">admin_tc034_Products_prototypes</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:10:47</td>   <td>-223898</td> <td title="&gt;&gt;MainController.beforeSuite()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:10:47</td>   <td>-223814</td> <td>&nbsp;</td><td title="&gt;&gt;MainController.beforeTest()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:10</td>   <td>-200973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:27</td>   <td>-183893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:42</td>   <td>-168723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:51</td>   <td>-159897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:01</td>   <td>-149647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:16</td>   <td>-134277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:26</td>   <td>-124499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:40</td>   <td>-110078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:52</td>   <td>-98445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:02</td>   <td>-88727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:09</td>   <td>-81398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:15</td>   <td>-75202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:24</td>   <td>-66825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:30</td>   <td>-60322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:35</td>   <td>-55828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:48</td>   <td>-42082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:14:10</td>   <td>-20679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:14:29</td>   <td>-1331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.callStopRecording()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;callStopRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:10</td>   <td>-200714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:27</td>   <td>-183677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:42</td>   <td>-168575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:51</td>   <td>-159648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:01</td>   <td>-149509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:16</td>   <td>-134153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:26</td>   <td>-124350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:41</td>   <td>-109802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:52</td>   <td>-98222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:02</td>   <td>-88596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:09</td>   <td>-81225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:15</td>   <td>-74999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:24</td>   <td>-66637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:30</td>   <td>-60160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:35</td>   <td>-55719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:49</td>   <td>-41913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:14:10</td>   <td>-20462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:14:29</td>   <td>-1193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:10:49</td>   <td>-221637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:12</td>   <td>-198065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:29</td>   <td>-181014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:43</td>   <td>-167187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:52</td>   <td>-158047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:03</td>   <td>-147668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:18</td>   <td>-132641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:28</td>   <td>-122631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:42</td>   <td>-108376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:54</td>   <td>-96317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:04</td>   <td>-86686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:10</td>   <td>-80594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:19</td>   <td>-71598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:24</td>   <td>-66193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:31</td>   <td>-59801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:35</td>   <td>-55409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:50</td>   <td>-40523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:14:11</td>   <td>-19122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>16/02/09 14:14:30</td>   <td>-589</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CollectiveRegressionTestURL.init()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestURL@480bdb19]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:10:49</td>   <td>-221527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:12</td>   <td>-198018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:30</td>   <td>-180958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:43</td>   <td>-167151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:52</td>   <td>-158006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:03</td>   <td>-147544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:18</td>   <td>-132607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:28</td>   <td>-122584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:42</td>   <td>-108327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:54</td>   <td>-96283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:04</td>   <td>-86653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:10</td>   <td>-80569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:19</td>   <td>-71564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:24</td>   <td>-66150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:31</td>   <td>-59771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:35</td>   <td>-55377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:50</td>   <td>-40490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:14:11</td>   <td>-19084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:10:58</td>   <td>-212196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:14</td>   <td>-196627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:31</td>   <td>-179027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:45</td>   <td>-165598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:54</td>   <td>-156869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:06</td>   <td>-143994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:19</td>   <td>-131116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:30</td>   <td>-120761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:43</td>   <td>-107137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:56</td>   <td>-94841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:05</td>   <td>-85474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:12</td>   <td>-78632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:20</td>   <td>-70276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:26</td>   <td>-64481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:32</td>   <td>-58537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:36</td>   <td>-54404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:51</td>   <td>-39332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:14:13</td>   <td>-17564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.startRecording(java.lang.reflect.Method)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&gt;&gt;startRecording</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:12</td>   <td>-198066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:29</td>   <td>-181015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:43</td>   <td>-167187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:11:52</td>   <td>-158047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:03</td>   <td>-147670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:18</td>   <td>-132641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:28</td>   <td>-122632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:42</td>   <td>-108377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:12:54</td>   <td>-96318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:04</td>   <td>-86687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:09</td>   <td>-81198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:17</td>   <td>-73246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:24</td>   <td>-66608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:30</td>   <td>-60111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:35</td>   <td>-55705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:13:50</td>   <td>-40524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:14:11</td>   <td>-19122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>16/02/09 14:14:29</td>   <td>-1186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc001_collective_signup()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc001_collective_signup</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc002_collective_login()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc002_collective_login</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc003_collective_blog()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc003_collective_blog</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc004_collective_accessories()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc004_collective_accessories</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc005_collective_Filter_Brand()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc005_collective_Filter_Brand</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc006_collective_accessories_pagination()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc006_collective_accessories_pagination</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc007_collective_sales()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc007_collective_sales</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc008_collective_orderGreaterThan20000()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc008_collective_orderGreaterThan20000</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc009_collective_orderLessOrEqualThan20000()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc009_collective_orderLessOrEqualThan20000</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc010_collective_orderPlacement()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc010_collective_orderPlacement</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>16/02/09 14:14:29</td>   <td>-1112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.tc010_evaluateAdminTabs_Blog()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@2bbf4b8b]">tc010_evaluateAdminTabs_Blog</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc011_collective_womenTab()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc011_collective_womenTab</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc013_collective_shoppingOnline_faq()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc013_collective_shoppingOnline_faq</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc014_collective_shoppingOnline_ShippingPolicy()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc014_collective_shoppingOnline_ShippingPolicy</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc015_collective_shoppingOnline_ReturnPolicy()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc015_collective_shoppingOnline_ReturnPolicy</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc016_collective_customerServices_theCollectivePrive()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc016_collective_customerServices_theCollectivePrive</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc017_collective_customerServices_PrivacyPolicy()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc017_collective_customerServices_PrivacyPolicy</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc018_collective_OurStoresAndEvents_StoreLocator()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc018_collective_OurStoresAndEvents_StoreLocator</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc019_collective_OurStoresAndEvents_Events()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc019_collective_OurStoresAndEvents_Events</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc020_collective_OurStoresAndEvents_BrandDirectory()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc020_collective_OurStoresAndEvents_BrandDirectory</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc021_collective_AboutUs_Careers()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc021_collective_AboutUs_Careers</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc022_collective_AboutUs_TheCollective()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc022_collective_AboutUs_TheCollective</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc023_collective_FilterSize()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc023_collective_FilterSize</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc024_collective_FilterColour()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc024_collective_FilterColour</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1019</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc025_collective_FilterPrice()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc025_collective_FilterPrice</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc026_collective_Order_same_Product_Multiple_Quantities_LessThan_20000()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc026_collective_Order_same_Product_Multiple_Quantities_LessThan_20000</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc027_collective_Order_multiple_Products_DifferentCategory_singleQuantity_Each_LessThan_20000()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc027_collective_Order_multiple_Products_DifferentCategory_singleQuantity_Each_LessThan_20000</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc028_collective_Order_multiple_Products_SameCategory_singleQuantity_Each_LessThan_20000()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc028_collective_Order_multiple_Products_SameCategory_singleQuantity_Each_LessThan_20000</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-1009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc029_collective_Order_multiple_Products_SameCategory_singleQuantity_Each_MoreThan_20000()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc029_collective_Order_multiple_Products_SameCategory_singleQuantity_Each_MoreThan_20000</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:29</td>   <td>-990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc030_collective_Login_ErrorScenario_NoPhoneNumberAndNoPwd()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc030_collective_Login_ErrorScenario_NoPhoneNumberAndNoPwd</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc031_collective_Login_ErrorScenario_PhoneNumberAndNoPwd()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc031_collective_Login_ErrorScenario_PhoneNumberAndNoPwd</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc032_collective_Login_ErrorScenario_NoPhoneNumberAndPwd()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc032_collective_Login_ErrorScenario_NoPhoneNumberAndPwd</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc033_collective_Login_ErrorScenario_InvalidPhoneNumberAndPwd()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc033_collective_Login_ErrorScenario_InvalidPhoneNumberAndPwd</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc034_collective_Registration_ErrorScenario_AllEmpty()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc034_collective_Registration_ErrorScenario_AllEmpty</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc035_collective_Registration_ErrorScenario_ExistingPhnoAndPwd()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc035_collective_Registration_ErrorScenario_ExistingPhnoAndPwd</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc036_collective_Registration_ErrorScenario_UniquePhnoAndPwd_NoName_No_Email()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc036_collective_Registration_ErrorScenario_UniquePhnoAndPwd_NoName_No_Email</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc037_collective_Registration_ErrorScenario_UniquePhnoAndPwd_NoName()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc037_collective_Registration_ErrorScenario_UniquePhnoAndPwd_NoName</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc038_collective_Registration_ErrorScenario_UniquePhnoAndPwd_NoEmail()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc038_collective_Registration_ErrorScenario_UniquePhnoAndPwd_NoEmail</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc039_collective_Registration_ErrorScenario_UniquePhno_PasswordMismatch()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc039_collective_Registration_ErrorScenario_UniquePhno_PasswordMismatch</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc040_collective_Registration_LoginAsExistingCustomer()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc040_collective_Registration_LoginAsExistingCustomer</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc041_collective_HomePageIntroductionText()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc041_collective_HomePageIntroductionText</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc042_collective_BlogPageCompleteAssertion()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc042_collective_BlogPageCompleteAssertion</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc043_collective_CategoriesAndBrandsUIVerifications()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc043_collective_CategoriesAndBrandsUIVerifications</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc044_collective_Registration_ErrorScenario_WholeNumbers_Only_Name()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc044_collective_Registration_ErrorScenario_WholeNumbers_Only_Name</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc045_collective_Registration_ErrorScenario_SpecialCharacters_Only_Name()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc045_collective_Registration_ErrorScenario_SpecialCharacters_Only_Name</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc046_collective_Registration_ErrorScenario_ExistingEmail()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc046_collective_Registration_ErrorScenario_ExistingEmail</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc047_collective_Registration_ErrorScenario_PhoneNumber_LessThan10Characters()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc047_collective_Registration_ErrorScenario_PhoneNumber_LessThan10Characters</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc048_collective_Registration_ErrorScenario_PhoneNumber_SpecialCharactersAndAlphabets()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc048_collective_Registration_ErrorScenario_PhoneNumber_SpecialCharactersAndAlphabets</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc049_collective_Registration_ErrorScenario_Email_invalidEmailFormat()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc049_collective_Registration_ErrorScenario_Email_invalidEmailFormat</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc050_collective_AddToCart_HugeNumber()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc050_collective_AddToCart_HugeNumber</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc051_collective_AddToCart_negativeNumber()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc051_collective_AddToCart_negativeNumber</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc052_collective_AddToCart_DecimalValue()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc052_collective_AddToCart_DecimalValue</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc053_collective_Made_to_Measure_InitialPage()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc053_collective_Made_to_Measure_InitialPage</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc054_collective_Made_to_MeasurePage()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc054_collective_Made_to_MeasurePage</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc055_collective_Made_To_Measure_CollectiveAtelier()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc055_collective_Made_To_Measure_CollectiveAtelier</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc057_collective_Made_To_Measure_CollectiveAtelier_Santoni()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc057_collective_Made_To_Measure_CollectiveAtelier_Santoni</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc058_collective_Made_To_Measure_CollectiveAtelier_Eton()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc058_collective_Made_To_Measure_CollectiveAtelier_Eton</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc059_collective_Made_To_Measure_CollectiveAtelier_Hackett()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc059_collective_Made_To_Measure_CollectiveAtelier_Hackett</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc060_collective_Made_To_Measure_Appointments()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc060_collective_Made_To_Measure_Appointments</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc061_collective_Made_To_Measure_MakeAnAppointmentFunctionality()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc061_collective_Made_To_Measure_MakeAnAppointmentFunctionality</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc062_collective_Made_To_Measure_MakeAnAppointmentFunctionality_MobileView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc062_collective_Made_To_Measure_MakeAnAppointmentFunctionality_MobileView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc063_collective_Made_To_Measure_Appointments_MobileView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc063_collective_Made_To_Measure_Appointments_MobileView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc064_collective_Made_To_Measure_CollectiveAtelier_Hackett_MobileView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc064_collective_Made_To_Measure_CollectiveAtelier_Hackett_MobileView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc065_collective_Made_To_Measure_CollectiveAtelier_Eton_MobileView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc065_collective_Made_To_Measure_CollectiveAtelier_Eton_MobileView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc066_collective_Made_To_Measure_CollectiveAtelier_Santoni_MobileView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc066_collective_Made_To_Measure_CollectiveAtelier_Santoni_MobileView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc067_collective_Made_to_Measure_InitialPage_MobileView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc067_collective_Made_to_Measure_InitialPage_MobileView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc068_collective_Made_to_MeasurePage_MobileView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc068_collective_Made_to_MeasurePage_MobileView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc069_collective_Made_To_Measure_CollectiveAtelier_MobileView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc069_collective_Made_To_Measure_CollectiveAtelier_MobileView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc070_collective_Made_To_Measure_CollectiveAtelier_Armani_MobileView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc070_collective_Made_To_Measure_CollectiveAtelier_Armani_MobileView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc071_collective_Made_to_Measure_InitialPage_TabletView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc071_collective_Made_to_Measure_InitialPage_TabletView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc072_collective_Made_to_MeasurePage_TabletView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc072_collective_Made_to_MeasurePage_TabletView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc073_collective_Made_To_Measure_CollectiveAtelier_TabletView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc073_collective_Made_To_Measure_CollectiveAtelier_TabletView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc074_collective_Made_To_Measure_CollectiveAtelier_Armani_TabletView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc074_collective_Made_To_Measure_CollectiveAtelier_Armani_TabletView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc075_collective_Made_To_Measure_CollectiveAtelier_Santoni_TabletView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc075_collective_Made_To_Measure_CollectiveAtelier_Santoni_TabletView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc076_collective_Made_To_Measure_CollectiveAtelier_Eton_TabletView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc076_collective_Made_To_Measure_CollectiveAtelier_Eton_TabletView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc077_collective_Made_To_Measure_CollectiveAtelier_Hackett_TabletView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc077_collective_Made_To_Measure_CollectiveAtelier_Hackett_TabletView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc078_collective_Made_To_Measure_Appointments_TabletView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc078_collective_Made_To_Measure_Appointments_TabletView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc079_collective_Made_To_Measure_MakeAnAppointmentFunctionality_TabletView()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc079_collective_Made_To_Measure_MakeAnAppointmentFunctionality_TabletView</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc080_collective_Made_To_Measure_CollectiveAtelier_Armani_MakeAnAppointment()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc080_collective_Made_To_Measure_CollectiveAtelier_Armani_MakeAnAppointment</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc081_collective_Made_To_Measure_CollectiveAtelier_Armani_WatchVideo()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc081_collective_Made_To_Measure_CollectiveAtelier_Armani_WatchVideo</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc082_collective_Made_To_Measure_CollectiveAtelier_Santoni_MakeAnAppointment()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc082_collective_Made_To_Measure_CollectiveAtelier_Santoni_MakeAnAppointment</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-789</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc083_collective_Made_To_Measure_CollectiveAtelier_Santoni_WatchVideo()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc083_collective_Made_To_Measure_CollectiveAtelier_Santoni_WatchVideo</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc084_collective_Made_To_Measure_CollectiveAtelier_Hackett_MakeAnAppointment()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc084_collective_Made_To_Measure_CollectiveAtelier_Hackett_MakeAnAppointment</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc085_collective_Made_To_Measure_CollectiveAtelier_Eton_MakeAnAppointment()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc085_collective_Made_To_Measure_CollectiveAtelier_Eton_MakeAnAppointment</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc086_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_InvalidEmail()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc086_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_InvalidEmail</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc087_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_InvalidPhoneNumber()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc087_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_InvalidPhoneNumber</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc088_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_AllBlank()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc088_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_AllBlank</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc089_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_NameBlank()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc089_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_NameBlank</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc090_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_EmailBlank()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc090_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_EmailBlank</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc091_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_PhoneNumberBlank()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc091_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_PhoneNumberBlank</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc092_collective_OrderPlacement_newArrivals()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc092_collective_OrderPlacement_newArrivals</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc093_collective_placeorder_sales()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc093_collective_placeorder_sales</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc094_collective_placeorder_OrderCancellation()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc094_collective_placeorder_OrderCancellation</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc095_collective_shoppingCartAddress_ErrorPincode()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc095_collective_shoppingCartAddress_ErrorPincode</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc096_collective_shoppingCartAddress_allDataEmpty()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc096_collective_shoppingCartAddress_allDataEmpty</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc097_collective_homePage_newSubscribeNewsLetter()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc097_collective_homePage_newSubscribeNewsLetter</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc098_collective_homePage_exisitingSubscribeNewsLetter()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc098_collective_homePage_exisitingSubscribeNewsLetter</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc099_collective_homePage_emptyForSubscription()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc099_collective_homePage_emptyForSubscription</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>16/02/09 14:14:30</td>   <td>-592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestCustomer.tc56_collective_Made_To_Measure_CollectiveAtelier_Armani()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestCustomer@86be70a]">tc56_collective_Made_To_Measure_CollectiveAtelier_Armani</td> 
  <td>main@1597655940</td>   <td></td> </tr>
</table>
