<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>org.collective.testmethods.CollectiveRegressionTestAdmin</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc031_CancelCarousel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc022_NewUsersCreation_Blogger_And_Deletion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc002_collective_admin_reports_OrderTotalsSheet</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc010_evaluateAdminTabs_Blog</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc005_evaluateAdminTabs_Orders</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc023_NewPromotion_Creation_And_Deletion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc030_CreateVerifyAndDeleteCarousel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc034_Products_prototypes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc028_Products_Taxonomies</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc026_UserList</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc020_NewUsersCreation_User_And_Deletion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc018_StoreLocator_Adding_Updating_RemovingNewStore</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc027_returnList</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc032_Products_OptionTypes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc023_evaluateAdminTabs_AnalyticScript</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc017_StoreLocator_Adding_RemovingNewStore</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc009_evaluateAdminTabs_Users</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc014_Login_ErrorScenario_Providing_NoPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc021_NewUsersCreation_Admin_And_Deletion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc024_CreateNew_AnalyticScript</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc007_evaluateAdminTabs_Settings</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc029_Products_Taxons</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc016_Login_ErrorScenario_Providing_CustomerCredentials_NoPhoneNumber_NoPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc025_CreateNew_AnalyticScript</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc019_NewBlogEntry_RemoveBlog</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc003_evaluateAdminTabs_Returns</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc011_evaluateAdminTabs_Store</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc008_evaluateAdminTabs_Promotions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc033_Products_properties</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc015_Login_ErrorScenario_Providing_CustomerCredentials_NoPhoneNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc013_Login_ErrorScenario_Providing_CustomerCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc001_collective_adminLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc004_evaluateAdminTabs_Carousel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc012_Login_ErrorScenario_Providing_InvalidCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc006_evaluateAdminTabs_Products_ProductsSection</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkForLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkForAdminLogout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>takeScreenshot</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
