<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70fda8">  <td>16/02/08 20:49:11</td>   <td>0</td> <td title="&gt;&gt;MainController.screenshotCleanUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@6ee52dcd]">&gt;&gt;screenshotCleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@99451533</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>16/02/08 20:49:11</td>   <td>49</td> <td>&nbsp;</td><td title="&gt;&gt;MainController.beforeTest()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@6ee52dcd]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@99451533</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>16/02/08 20:49:13</td>   <td>2651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.checkForLogin()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@6ee52dcd]">&gt;&gt;checkForLogin</td> 
<td>&nbsp;</td>  <td>main@99451533</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>16/02/08 20:49:13</td>   <td>2798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@6ee52dcd]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@99451533</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>16/02/08 20:49:18</td>   <td>7360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CollectiveRegressionTestAdmin.admin_tc031_CancelCarousel()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@6ee52dcd]">admin_tc031_CancelCarousel</td> 
  <td>main@99451533</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>16/02/08 20:49:30</td>   <td>19252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.checkForAdminLogout()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@6ee52dcd]">&lt;&lt;checkForAdminLogout</td> 
<td>&nbsp;</td>  <td>main@99451533</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>16/02/08 20:49:33</td>   <td>22414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@6ee52dcd]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@99451533</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>16/02/08 20:49:34</td>   <td>22938</td> <td title="&lt;&lt;MainController.tearDownClass()[pri:0, instance:org.collective.testmethods.CollectiveRegressionTestAdmin@6ee52dcd]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@99451533</td>   <td></td> </tr>
</table>
